@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fafaf5;
  --paper: #fafaf510;
  --background: #111108;
  --primary-button: #f43474;
  --secondary-button: #f7e8c0;
  --accent: #3463e5;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #111108;
    --paper: #11110815;
    --background: #fafaf5;
    --primary-button: #f43474;
    --secondary-button: #f7e8c0;
    --accent: #3463e5;
  }
}

body {
  color: var(--text);
  background: linear-gradient(to bottom, transparent, var(--paper))
    var(--background);
}
